* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  font-family: "Cairo", sans-serif;
  height: 100vh;
  direction: ltr;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

:root {
  --main-transition: ease-in-out 0.3s;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

/*with no background-color for scrollbar*/

.header-text {
  background-color: #ededed;
  color: #2196f3;
  text-transform: capitalize;
  font-weight: 900;
  text-align: center;
  margin: 100px auto 50px;
  padding: 15px;
}

.form,
.tasks-area {
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
}

.tasks-area {
  margin: 15px auto;
  flex-direction: column;
  font-size: 18px;
}

input[type="text"] {
  width: 400px;
  height: 40px;
  font-size: 18px;
  padding: 15px;
  caret-color: #2196f3;
  color: #777;
  text-transform: capitalize;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

input[type="submit"] {
  width: 100px;
  height: 40px;
  font-size: 18px;
  color: #777;
  text-transform: capitalize;
  font-weight: bolder;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  margin-left: 30px;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

[type="submit"]:hover {
  color: white;
  background-color: red;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  text-transform: capitalize;
  background-color: #fff;
  border-radius: 6px;
  padding: 10px;
  margin: 0 auto 10px;
  overflow: auto;
}

.done {
  color: #777;
  opacity: 0.5;
  position: relative;
}

.done::after {
  content: "";
  position: absolute;
  background-color: #77777754;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.clear-btn {
  width: 120px;
  height: 40px;
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  font-weight: bolder;
  background-color: #e93c3b;
  border: #ccc;
  border-radius: 6px;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
