doctype html 
html 
    head
        meta(charset="UTF-8") 
        meta(http-equiv="X-UA-Compatible" content="IE=edge") 
        meta(name="viewport" content="width=device-width, initial-scale=1.0" ) 
        meta(name="description" content="Manage Your Time" ) 
        title Your Notes App || ملاحظاتي
        link(rel="stylesheet", href="css/main.css")
        //- FontAwesome
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" ,integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" )
        //- Google Fonts 
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin )
        link(rel="preconnect", href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;700;900&display=swap")
        //- Favicon 
        link(rel="shortcut icon", href="media/imgs/favicon.jpg" type="image/x-icon")
    body 
        div.container
            h1.header-text Your Notes
                span 👨🏻‍💻
            div.form
                input(type="text" name="task" id="task" placeholder="Write Your Task Here")
                input(type="submit" value="add")
            div.tasks-area
            button(class="clear-btn") clear all
                i(class="fa-solid fa-triangle-exclamation")
        //- js
        script(src="js/main.js") 
